<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Exibir Pedidos</h1>
        {% if pedidos %}
            {% for chave, valor in pedidos.items %}
                <h2>Pedido {{ chave }}</h2>
                {{ valor.qtd }} x {{ valor.produto }} = R$ {{ valor.total }}
            {% endfor %}
        {% else %}
            <h2>Não há pedidos!</h2>
        {% endif %}
    </body>
</html>